//colors
$screensmart-blue: #0d8bbd
$screensmart-green: #48d0c6
$screensmart-yellow: #d0ce0c
$screensmart-orange: #f2a50f
$screensmart-red: #f4664c

// layout
$layout-width: 1100px
$application-background-color: #fcfcf8
$application-main-color: $screensmart-blue
$application-text-color: darken($application-main-color, 33%)
$application-link-color: $application-main-color
$application-link-hover-color: $screensmart-yellow
$application-card-background-color: #fff
$application-card-border-color: $screensmart-green
$application-card-border-radius: 4px

$breakpoint-mobile: 500px
$breakpoint-mobile-v: 500px

// typography
$screensmart-font-size: 1.2rem

// header
$header-height: 70px

// brand-logo
$logo-width: 200px
$logo-height: 50px

//feed-item
$feed-item-background-color: $application-card-background-color
$feed-item-border-color: $application-card-border-color
$feed-item-border-radius: $application-card-border-radius
$feed-item-height: 10rem
$feed-item-margin: 20px
$feed-item-padding-vertical: 15px
$feed-item-padding-horizontal: 35px
$past-feed-item-border-color: lighten(desaturate($feed-item-border-color, 15%), 35%)

//feed-item-mobile
$feed-item-padding-vertical-mobile: 0.2rem
$feed-item-padding-horizontal-mobile: 0.8rem

// options
$option-color: #0d8bbd
$option-color-hover: #fff
$option-border-color: $option-color
$option-background-color: #fff
$option-background-color-hover: lighten($option-color,7%)
$option-color-checked: #fff
$option-background-color-checked: $option-color
$option-inset-shadow-color-checked: darken($option-color,11%)
$option-border-radius: 3px

// past options
$past-option-color: lighten(desaturate($option-color, 15%), 5%)
$past-option-border-color: lighten(desaturate($option-border-color, 25%), 15%)
$past-option-color-checked: $option-color-checked
$past-option-background-color-checked: lighten(desaturate($option-color, 25%), 15%)
$past-option-inset-shadow-color-checked: lighten(desaturate($option-inset-shadow-color-checked, 25%), 15%)
$past-option-text-color: lighten(desaturate($application-text-color, 45%), 35%)

// disabled options
$disabled-option-background-color: darken($option-background-color, 10%)
$disabled-option-background-color-checked: desaturate($past-option-background-color-checked, 50%)

// loading-indicator
$difference-between-loading-indicator-inner-and-label-height: 4px
$loader-height: calc(#{$feed-item-height} - (2 * #{$feed-item-padding-vertical}) - #{$difference-between-loading-indicator-inner-and-label-height})
$loading-indicator-inner-width: calc(100% - (2 * #{$feed-item-padding-horizontal}))

// debug
$debug-color: lighten(desaturate($option-color,61%),18%)
$debug-border-color: lighten(desaturate($option-color,71%),48%)
// #ececec
$debug-background-color: $application-background-color

// animation
$easing: 500ms ease-in-out

//messages
$message-background-color: #fff
$message-border-color: $screensmart-orange
$message-height: 2em
$message-margin: $feed-item-margin
$message-padding-vertical: $feed-item-padding-vertical
$message-padding-horizontal: $feed-item-padding-horizontal
$message-text-color: darken($application-main-color, 18%)

// (invitation)form
$form-margin: $feed-item-margin
$form-padding: 35px
$form-text-padding: 11px
$form-background-color: $application-card-background-color
$form-border-color: $application-card-border-color
$form-border-radius: $application-card-border-radius
$form-submit-background-color: $option-background-color-hover
$form-submit-color: $option-color-hover
$form-submit-border-color: $option-background-color-hover
$form-submit-background-color-hover: darken($form-submit-background-color, 5%)
$form-submit-border-color-hover: $form-submit-background-color-hover

//response view
$response-background-color: $form-background-color
$response-border-color: $form-border-color
$response-border-radius: $form-border-radius
$response-padding: 1rem 2rem
$response-creation-date-border-color: #b8cf0c
$response-answers-table-small-padding: 1rem
