body
  background-color: $application-background-color

html, body, .container, .app
  height: 100%

header
  position: fixed
  z-index: 5
  width: 100%
  top: 0
  left: 0
  background-color: $application-background-color
  box-shadow: 0px -1px 14px 1px #c3c3c2
  .brand-logo
    min-height: $logo-height
    img
      max-width: $logo-width
      margin: 15px auto 0
      display: block

.app
  @include outer-container
  margin-top: $logo-height * 2
.feed
  @include span-columns(8)
  @include shift(2)
  .item
    background-color: $feed-item-background-color
    border: 3px solid $feed-item-border-color
    border-radius: 4px
    min-height: $feed-item-height
    padding: $feed-item-padding-vertical $feed-item-padding-horizontal
    margin: $feed-item-margin

.options
  padding: 0

  .option
    list-style-type: none
    display: inline

    input[type="radio"]
      display: none

    label
      background-color: $option-background-color
      border: 1px solid $option-border-color
      color: $option-color
      padding: 5px 15px
      width: 3rem
      &:hover
        background-color: $option-background-color-hover
        color: $option-color-hover
        cursor: pointer

    input[type="radio"]:checked + label
      background-color: $option-background-color-checked
      box-shadow: inset 0 1px 6px $option-inset-shadow-color-checked
      color: $option-color-checked

  .option:first-of-type label
    border-left: 1px solid $option-border-color
    border-bottom-left-radius: 4px
    border-top-left-radius: 4px

  .option:last-of-type label
    border-bottom-right-radius: 4px
    border-top-right-radius: 4px

  .option + .option label
    border-left: none

@media (max-height: $breakpoint-mobile-v)
  .questions-wrapper
    min-height: 100vh
@media only screen and (max-width: $breakpoint-mobile)
  .app
    @include outer-container(98%)
  .feed
    @include span-columns(12)
    @include shift(0)
    .item
      padding: $feed-item-padding-vertical-mobile $feed-item-padding-horizontal-mobile
  .options
    input[type="radio"] + span
      font-size: 1rem
