body,
html
  font-family: helvetica
  font-size: 1.2rem

.brand-logo
  width: 100%
  min-height: 180px
  background-image: image-url("temp_logo.png")
  background-repeat: no-repeat

.main
  @include outer-container(70%)
