%p
  U heeft op
  = l @invitation_sent_at, format: :long
  een patiënt gevraagd om een vragenlijst in te vullen.
  Als dit inderdaad het geval is, klik dan op onderstaande link.

%p
  Als dit niet het geval is, kunt u deze e-mail als niet verzonden beschouwen.

%p
  = link_to 'Resultaat vragenlijst', @link
